.background{
    background: linear-gradient(141deg, #373737 0%, #434343 51%, #3e5444 75%);

  margin: 0;
  padding: 0;
    display: flex;  
    height: 100vh;
    justify-content: left;
    padding-left: 2vh;
}